<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996751923239-mer5c5vrbdd6bia9bunedk2h3hqspdrl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996751923239-mer5c5vrbdd6bia9bunedk2h3hqspdrl</string>
	<key>API_KEY</key>
	<string>AIzaSyA3HRi75OGc8mBACEaODEUexSolKZyZAbw</string>
	<key>GCM_SENDER_ID</key>
	<string>996751923239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.doc.digamobile</string>
	<key>PROJECT_ID</key>
	<string>docweb-1a252</string>
	<key>STORAGE_BUCKET</key>
	<string>docweb-1a252.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996751923239:ios:d96af2287e5940355b1602</string>
	<key>DATABASE_URL</key>
	<string>https://docweb-1a252.firebaseio.com</string>
</dict>
</plist>